@charset "UTF-8";
/* Eric Meyer's reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0b1 | 201101 
	NOTE: WORK IN PROGRESS
	USE WITH CAUTION AND TEST WITH ABANDON */
/* Use this reset as a starting point, and customize to your needs */
/* Slightly modified to prevent anchor elements from losing outline, as in HTML5 Boilerplate */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important; }

a {
  background: transparent;
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, time {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Meyer's reset ends here */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

b, strong {
  font-weight: bold; }

em {
  font-style: italic; }

small {
  font-size: 85%; }

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], input[disabled] {
  cursor: default; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

.browsehappy {
  height: 10%;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 60px 0;
  font-size: 22px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999; }

.browsehappy a {
  color: yellow;
  text-decoration: underline; }

.browsehappyimg {
  z-index: 999999999999999;
  position: absolute;
  left: 48%;
  top: 12%; }

.clearfix {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*==================================================*/
/*=============== MOLECULAR STYLES ================*/
/*================================================*/
/* (Common Elements that make up bigger groups elements.) */
html {
  font-size: 16px; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative; }

#background {
  background: transparent url(/_assets/img/bg.jpg) no-repeat scroll center center/cover;
  opacity: .5;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1; }

.inner {
  max-width: 1026px;
  width: 80%;
  margin: 0 auto; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 3em; }

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.2em;
  color: #383838;
  padding-bottom: 26px; }

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 3em;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center; }

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #383838;
  padding-bottom: 22px; }

a {
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }

i {
  color: #ffffff; }
  i:hover::before {
    opacity: 1; }
  i::before {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    opacity: .5; }

#indicator {
  background-color: #b4292e;
  position: fixed;
  left: 5%;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  width: 240px;
  padding: 40px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }
  #indicator::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0px 45px 30px;
    border-color: transparent transparent transparent #b4292e;
    position: absolute;
    right: -30px;
    top: 0; }
  #indicator li {
    display: none; }
    #indicator li.active {
      display: block; }
    #indicator li a {
      color: #ffffff; }

/*=================================================*/
/*================ ORGANIC STYLES ================*/
/*===============================================*/
/* (Groups of elements that are used throughout the site.) */
/******** START MAIN HEADER AND NAVIGATION STYLES *********/
header {
  padding: 8px 0 17px; }
  header div.socials {
    float: right;
    margin-bottom: 20px; }
    header div.socials p {
      display: inline;
      text-transform: uppercase;
      margin-right: 100px; }
      header div.socials p a {
        color: #ffffff;
        text-decoration: none;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s; }
        header div.socials p a:hover {
          opacity: .7; }
      header div.socials p::after {
        padding-left: 15px;
        content: '•';
        color: #ffffff; }
    header div.socials div.border {
      height: 40px;
      margin: 10px;
      border-left: 4px dotted #ffffff;
      display: inline-block;
      vertical-align: middle; }
    header div.socials ul {
      display: inline-block;
      vertical-align: middle; }
      header div.socials ul li {
        display: inline-block;
        font-size: 2em;
        margin-right: 10px;
        -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25); }
        header div.socials ul li:last-child {
          margin-right: 0; }
        header div.socials ul li i.fa-facebook {
          background-color: #445897; }
        header div.socials ul li i.fa-rss {
          background-color: #cc8f32; }
        header div.socials ul li i.fa-twitter {
          background-color: #6a8dc7; }
        header div.socials ul li i.fa-youtube {
          background-color: #b4292e; }
    header div.socials i {
      padding: 15px 0;
      text-align: center;
      width: 60px;
      height: 60px; }
  header nav li {
    float: left;
    text-transform: uppercase;
    width: 24.25%;
    margin: 0 .5%;
    padding: 15px 0;
    text-align: center;
    background-color: #b4292e;
    -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25); }
    header nav li:first-child {
      margin-left: 0; }
    header nav li:last-child {
      margin-right: 0; }
    header nav li a {
      text-decoration: none;
      color: #ffffff; }
      header nav li a:hover {
        opacity: .7; }
      header nav li a span {
        width: 18px;
        height: 4px;
        background-color: #ffffff;
        display: inline-block;
        margin: 4px 10px; }

/******** END MAIN HEADER AND NAVIGATION STYLES *********/
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
#logo {
  position: absolute;
  top: 50px;
  left: 5%; }

.slider .inner {
  background-color: #000;
  position: relative; }

.flexslider {
  margin: 0 0 60px;
  border: 10px solid #fff;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1;
  background: url(/_assets/img/grid.png) repeat top left transparent;
  height: 337px;
  overflow: hidden; }

.flexslider img {
  opacity: .7; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(/_assets/img/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease; }

.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px; }

.flex-direction-nav .flex-prev {
  left: -36px; }

.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px; }

.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -50px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 16px;
  height: 16px;
  display: block;
  background: #fff;
  background: #ab2b22;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px #f3f3f3;
  border: 5px solid #fff; }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(253, 253, 253, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(243, 243, 243, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0; } }
/******** START MAIN FOOTER STYLES *********/
footer {
  padding-bottom: 92px; }
  footer div.container {
    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
    padding: 33px 30px; }
  footer article {
    display: inline-block; }
    footer article.form {
      width: 40%;
      margin-left: 4%;
      vertical-align: top; }
    footer article.text {
      width: 55%; }
  footer li {
    display: inline-block;
    text-align: center; }
    footer li a {
      padding: 7px 0;
      display: block;
      width: 30px;
      height: 30px;
      background-color: #7a7a7a; }
      footer li a:hover {
        background-color: #b0b0b0; }
  footer form input, footer form textarea {
    width: 100%;
    outline: none;
    border: 1px solid #7a7a7a;
    margin-bottom: 18px;
    -webkit-box-shadow: inset 2px 2px 0px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 2px 2px 0px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 2px 2px 0px 2px rgba(0, 0, 0, 0.25);
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: .7em; }
  footer form textarea {
    resize: none; }
  footer form button {
    width: 50%;
    margin-top: 10px;
    float: right;
    border-radius: 0;
    background-color: #b4292e;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    padding: 10px 0;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; }
    footer form button:hover {
      background-color: green; }
  footer form::after {
    clear: both;
    content: "";
    display: table; }

/******** END FOOTER STYLES *********/
/*================================================*/
/*================  PAGE STYLES  ================*/
/*==============================================*/
/* (Styles for pages with elements occuring in ways specific to the page.) */
section#articles {
  margin-bottom: 36px; }
  section#articles article {
    display: inline-block;
    width: 32%;
    margin: 0 .75%;
    background-color: #ffffff;
    padding: 30px 30px 20px;
    -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25); }
    section#articles article:first-child {
      margin-left: 0; }
    section#articles article:last-child {
      margin-right: 0; }
    section#articles article p {
      font-size: .8em; }
      section#articles article p.date {
        color: #a6a6a6;
        font-size: .8em;
        padding-bottom: 15px; }
    section#articles article a {
      color: #b4292e;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: .8em;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700; }
      section#articles article a:before {
        content: '[ '; }
      section#articles article a:after {
        content: ' ]'; }
      section#articles article a:hover {
        opacity: .7; }

section#people {
  margin-bottom: 27px;
  max-width: 12;
  margin-left: auto;
  margin-right: auto; }
  section#people::after {
    clear: both;
    content: "";
    display: table; }
  section#people div.container {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    section#people div.container:last-child {
      margin-right: 0; }
    section#people div.container article {
      border: 5px solid #ffffff;
      height: 222px;
      margin-bottom: 5px;
      padding-top: 74px;
      -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
      box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25); }
    section#people div.container div.left {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%; }
      section#people div.container div.left:last-child {
        margin-right: 0; }
      section#people div.container div.left article.sk8t1 {
        float: left;
        display: block;
        margin-right: 3.5786636068%;
        width: 48.2106681966%;
        padding-top: 60px; }
        section#people div.container div.left article.sk8t1:last-child {
          margin-right: 0; }
      section#people div.container div.left article.sk8t2 {
        float: left;
        display: block;
        margin-right: 3.5786636068%;
        width: 48.2106681966%;
        margin-right: 0;
        padding-top: 60px; }
        section#people div.container div.left article.sk8t2:last-child {
          margin-right: 0; }
      section#people div.container div.left article.sk8t3 {
        float: left;
        display: block;
        margin-right: 3.5786636068%;
        width: 100%; }
        section#people div.container div.left article.sk8t3:last-child {
          margin-right: 0; }
    section#people div.container article.sk8t4 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%;
      height: 448px;
      padding-top: 168px; }
      section#people div.container article.sk8t4:last-child {
        margin-right: 0; }
  section#people::after {
    clear: both;
    display: block;
    content: ''; }

.sk8t1 {
  background: transparent url(/_assets/img/sk8er-4.png) no-repeat scroll center center/cover; }

.sk8t2 {
  background: transparent url(/_assets/img/sk8er-3.png) no-repeat scroll center center/cover; }

.sk8t3 {
  background: transparent url(/_assets/img/sk8er-1.png) no-repeat scroll 60px center/cover; }

.sk8t4 {
  background: transparent url(/_assets/img/sk8er-2.png) no-repeat scroll -400px center/cover; }

section#boards {
  margin-bottom: 30px; }
  section#boards div.container {
    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
    padding: 13px 0 24px; }
    section#boards div.container div {
      width: 6%;
      margin: 0 2%;
      float: left; }
      section#boards div.container div img {
        width: 100%; }
    section#boards div.container::after {
      clear: both;
      content: '';
      display: block; }

/*======================================================*/
/*================  RESPONSIVE STYLES  ================*/
/*====================================================*/
/*Contains ALL responsive code. Must be imported last so that it is the last css read.*/
@media screen and (max-width: 1200px) {
  html {
    font-size: 14px; } }
